@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background-color: #f3f5fc;
    margin: 10px;
    font-family: "Inter", sans-serif;
}

body {
    box-sizing: border-box;
}

header {
    margin-top: 15px;
    margin-left: 20px;
}

main {
    display: flex;
}

.digitar-texto {
    padding: 2% 10%;
}

.area-texto {
    height: 250%;
    width: 100%;
    border: none;
    font-size: 25px;
    color: #0a3871;
}

.informacao {
    color: #495057;
}

.botoes {
    flex-direction: ;
}

.btn-encriptar {
    border-radius: 25%;
    padding: 2% 10%;
    background-color: #0a3871;
    color: #f3f5fc;
}

.btn-desencriptar {
    border-radius: 25%;
    padding: 2% 10%;
    background-color: #D8DFE8;
    color: #0a3871;
}